.table table-striped {
	width:450px;
}
.table table-striped th ,.table table-striped td {
	width:100px;
}

img {
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
	width:  65px;       /* ※縦横を同値に */
	height: 65px;       /* ※縦横を同値に */
}

@media screen and (max-width:480px){
    /*画面幅が480pxまでの時*/
  }
  @media screen and (min-width:781px){
    /*画面幅が781px以上の時*/
  }